---
layout: default
active_menu: documentation
---

<header class="hero">
    <div class="row">
        <div class="large-8 columns">
            <h1>Akno</h1>
            <h3 class="subheader">Simple, fast and beautiful modal windows</h3>
        </div>
        <div class="large-4 columns">
            <blockquote class='translation'>
                <div>
                    <b>akno</b> /aknó/, <i>n.</i>
                    <a class='language' href='http://en.wikipedia.org/wiki/Belarus' target="blank">Belarusian</a>
                </div>
                <div>1. window</div>
            </blockquote>
            <ul class="button-toolbar small-block-grid-2">
                <li><a class="small button secondary" href="https://github.com/skhilko/akno/archive/master.tar.gz" rel="nofollow">Download</a></li>
                <li><a class="small button secondary icon-container" href="https://github.com/skhilko/akno">GitHub</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="row">
    <div class="large-8 columns">
        <h2 id="features">Features</h2>
        <ul class="disc">
            <li><strong>CSS transitions.</strong> Let the GPU do the heavy lifting.</li>
            <li><strong>Multiple instances at a time.</strong> Supports showing more than one akno at a time.</li>
            <li><strong>No dependencies.</strong> jQuery is supported, but not required.</li>
            <li><strong>Smart tabulation.</strong> Ensures that tabulation cycles through the elements within the akno.</li>
        </ul>
        <h2 id="demos">Demos</h2>
        <ul class="demo-buttons-container medium-block-grid-3 small-block-grid-2">
            <li><button class="button-akno action-open" type="button" data-effect="scale-up">Scale Up</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="scale-down">Scale Down</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="slide-in-right">Slide In (Right)</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="slide-in-bottom">Slide In (Bottom)</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="newspaper">Newspaper</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="fall">Fall</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="side-fall">Side Fall</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="sticky-top">Sticky Top</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="flip-hor">Horizontal Flip</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="flip-vert">Vertical Flip</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="sign">Sign</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="just-me">Just Me</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="slit">Slit</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="rotate-bottom">Rotate Bottom</button></li>
            <li><button class="button-akno action-open" type="button" data-effect="rotate-left">Rotate Left</button></li>
        </ul>
        <h2 id="usage">Usage</h2>
        <p>Using Akno is really simple. It has a pure JavaScript API, plus an optional jQuery plugin.</p>
        <div class="tabs" data-tab>
            <div class="tab-title active"><a href="#usage-vanilla">Vanilla JS</a></div>
            <div class="tab-title"><a href="#usage-jquery">jQuery</a></div>
        </div>
        <div class="tabs-content">
            <div class="content active" id="usage-vanilla">
                <p>Include the plugin on the page.</p>

{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="dist/scripts/akno.min.js"></script>
    <link rel="stylesheet" href="dist/styles/akno.min.css">
  </head>
</html>
{% endhighlight %}

                <p>This will load the Akno object into the global window object.</p>

{% highlight javascript %}
var akno = new Akno(document.getElementById('dialog'));
// ... somewhere later
akno.close();
{% endhighlight %}

            </div>
            <div class="content" id="usage-jquery">
                <p>Include the plugin on the page after jQuery reference.</p>

{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="jquery.min.js"></script>
    <script src="dist/scripts/akno.jquery.min.js"></script>
    <link rel="stylesheet" href="dist/styles/akno.min.css">
  </head>
</html>
{% endhighlight %}

                <p>Then use the plugin.</p>

{% highlight javascript %}
$('#signupDialog').akno();
// ... somewhere later
$('#signupDialog').akno('close');
{% endhighlight %}

            </div>
        </div>

        <section class="api-section">
            <h2 id="api">API</h2>
            <h3>Instance</h3>
            <nav class="api-navigation panel">
                <div class="row">
                    <div class="medium-4 columns">
                        <section>
                            <h3>Options</h3>
                            <ul class="no-bullet">
                                {% for option in site.data.api.options.instance %}
                                <li><a href="#option-{{ option.name }}">{{ option.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    <div class="medium-4 columns">
                        <section>
                            <h3>Methods</h3>
                            <ul class="no-bullet">
                                {% for method in site.data.api.methods %}
                                <li><a href="#method-{{ method.name }}">{{ method.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    <div class="medium-4 columns">
                        <section>
                            <h3>Events</h3>
                            <ul class="no-bullet">
                                {% for event in site.data.api.events %}
                                <li><a href="#event-{{ event.name }}">{{ event.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
            </nav>
        </section>

        <h3>Options</h3>
        {% for option in site.data.api.options.instance %}
        <section class="panel api-section">
            <header><h5 id="option-{{ option.name }}" class="section-title">{{ option.name }}</h5></header>
            <p>{{ option.description }}</p>
            <div class="api-group">
                <label>Type</label>{{ option.type }}
            </div>
            <div class="api-group">
                <label>Default</label>{{ option.default }}
            </div>
            {% if option.supported_values %}
            <div class="api-group">
                <label>Supported Values</label>
                <ul>
                    {% for supported_value in option.supported_values %}
                    <li>{{ supported_value }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </section>
        {% endfor %}

        <h3>Methods</h3>
        {% for method in site.data.api.methods %}
        <section class="panel api-section">
            <header><h5 id="method-{{ method.name }}" class="section-title">{{ method.name }}</h5></header>
            <p>{{ method.description }}</p>
        </section>
        {% endfor %}

        <h3>Events</h3>
        {% for event in site.data.api.events %}
        <section class="panel api-section">
            <header><h5 id="event-{{ event.name }}" class="section-title">{{ event.name }}</h5></header>
            <p>{{ event.description }}</p>
        </section>
        {% endfor %}
    </div>
    <div class="large-4 columns">
        <ul class="side-nav" role="menu">
           <li role="menuitem"><a href="#features">Features</a></li>
           <li role="menuitem"><a href="#demos">Demos</a></li>
           <li role="menuitem"><a href="#usage">Usage</a></li>
           <li role="menuitem"><a href="#api">API</a></li>
        </ul>
    </div>
</div>

<div style="display: none">
    <div id="demo-akno">
        <p>This is a modal window. You can do the following things with it:</p>
        <ul>
            <li><strong>Read:</strong> Modal windows will probably tell you something important so don't forget to read what it says.</li>
            <li><strong>Look:</strong> modal windows enjoy a certain kind of attention; just look at it and appreciate its presence.</li>
            <li><strong>Close:</strong> click on the button below to close the modal.</li>
        </ul>
        <button class="secondary akno-action-close">Close me!</button>
    </div>
</div>
