<div class="akno-dialog {{=it.effect || ''}}" tabindex="-1">
    <div class="akno-content">
        <div class="akno-header">
            <button type="button" class="akno-action-close">×</button>
            {{? it.title }}
                <h2>{{!it.title}}</h2>
            {{?}}
        </div>
        <div class="akno-body"></div>
    {{? it.hasButtons}}
        <div class="akno-footer"></div>
    {{?}}
    </div>
</div>
