/* General styles for the modal */

/* 
	Styles for the html/body for special modal where we want 3d effects
*/
.akno-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2000;
	visibility: hidden;
	min-width: 320px;
	max-width: 630px;
	width: 50%;
	height: auto;
	outline: none;
	transform: translateX(-50%) translateY(-50%);
	backface-visibility: hidden;
}

.akno-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: rgba(52,73,94, 0.8);
	opacity: 0;
	transition: all 0.3s;
}

.akno-state-visible {
	visibility: visible;
}

.akno-state-visible ~ .akno-overlay {
	visibility: visible;
	opacity: 1;
}

/* Content styles */
.akno-content {
	position: relative;
	margin: 0 auto;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #bdc3c7;
}

.akno-content h1 {
	margin: 0;
	padding: 0.4em;
	font-weight: 300;
	font-size: 2.4em;
	border-bottom: 1px solid #ecf0f1;
}

.akno-content > div {
	margin: 0;
	padding: 15px 40px 30px;
}

.akno-content button {
	display: block;
	margin: 0 auto;
}