/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.prompt-perspective,
.prompt-perspective body {
	overflow: hidden;
	height: 100%;
}

.prompt-perspective body  {
	background: #222;
	perspective: 600px;
}

.prompt-container {
	min-height: 100%;
}

.prompt-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2000;
	visibility: hidden;
	min-width: 320px;
	max-width: 630px;
	width: 50%;
	height: auto;
	outline: none;
	transform: translateX(-50%) translateY(-50%);
	backface-visibility: hidden;
}

.prompt-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: rgba(143,27,15,0.8);
	opacity: 0;
	transition: all 0.3s;
}

.prompt-state-visible {
	visibility: visible;
}

.prompt-state-visible ~ .prompt-overlay {
	visibility: visible;
	opacity: 1;
}

/* Content styles */
.prompt-content {
	position: relative;
	margin: 0 auto;
	border-radius: 3px;
	background: #e74c3c;
	color: #fff;
}

.prompt-content h3 {
	margin: 0;
	padding: 0.4em;
	border-radius: 3px 3px 0 0;
	background: rgba(0,0,0,0.1);
	text-align: center;
	font-weight: 300;
	font-size: 2.4em;
	opacity: 0.8;
}

.prompt-content > div {
	margin: 0;
	padding: 15px 40px 30px;
	font-weight: 300;
	font-size: 1.15em;
}

.prompt-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}