/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.prompt-effect-1 .prompt-content {
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
}

.prompt-state-visible.prompt-effect-1 .prompt-content {
	transform: scale(1);
	opacity: 1;
}

/* Effect 2: Slide from the right */
.prompt-effect-2 .prompt-content {
	transform: translateX(20%);
	opacity: 0;
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.prompt-state-visible.prompt-effect-2 .prompt-content {
	transform: translateX(0);
	opacity: 1;
}

/* Effect 3: Slide from the bottom */
.prompt-effect-3 .prompt-content {
	transform: translateY(20%);
	opacity: 0;
	transition: all 0.3s;
}

.prompt-state-visible.prompt-effect-3 .prompt-content {
	transform: translateY(0);
	opacity: 1;
}

/* Effect 4: Newspaper */
.prompt-effect-4 .prompt-content {
	transform: scale(0) rotate(720deg);
	opacity: 0;
}

.prompt-state-visible.prompt-effect-4 ~ .prompt-overlay,
.prompt-effect-4 .prompt-content {
	transition: all 0.5s;
}

.prompt-state-visible.prompt-effect-4 .prompt-content {
	transform: scale(1) rotate(0deg);
	opacity: 1;
}

/* Effect 5: fall */
.prompt-effect-5.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-5 .prompt-content {
	transform-style: preserve-3d;
	transform: translateZ(600px) rotateX(20deg); 
	opacity: 0;
}

.prompt-state-visible.prompt-effect-5 .prompt-content {
	transition: all 0.3s ease-in;
	transform: translateZ(0px) rotateX(0deg); 
	opacity: 1;
}

/* Effect 6: side fall */
.prompt-effect-6.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-6 .prompt-content {
	transform-style: preserve-3d;
	transform: translate(30%) translateZ(600px) rotate(10deg); 
	opacity: 0;
}

.prompt-state-visible.prompt-effect-6 .prompt-content {
	transition: all 0.3s ease-in;
	transform: translate(0%) translateZ(0) rotate(0deg);
	opacity: 1;
}

/* Effect 7:  slide and stick to top */
.prompt-effect-7{
	top: 0;
	transform: translateX(-50%);
}

.prompt-effect-7 .prompt-content {
	transform: translateY(-200%);
	transition: all .3s;
	opacity: 0;
}

.prompt-state-visible.prompt-effect-7 .prompt-content {
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
}

/* Effect 8: 3D flip horizontal */
.prompt-effect-8.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-8 .prompt-content {
	transform-style: preserve-3d;
	transform: rotateY(-70deg);
	transition: all 0.3s;
	opacity: 0;
}

.prompt-state-visible.prompt-effect-8 .prompt-content {
	transform: rotateY(0deg);
	opacity: 1;
}

/* Effect 9: 3D flip vertical */
.prompt-effect-9.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-9 .prompt-content {
	transform-style: preserve-3d;
	transform: rotateX(-70deg);
	transition: all 0.3s;
	opacity: 0;
}

.prompt-state-visible.prompt-effect-9 .prompt-content {
	transform: rotateX(0deg);
	opacity: 1;
}

/* Effect 10: 3D sign */
.prompt-effect-10.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-10 .prompt-content {
	transform-style: preserve-3d;
	transform: rotateX(-60deg);
	transform-origin: 50% 0;
	opacity: 0;
	transition: all 0.3s;
}

.prompt-state-visible.prompt-effect-10 .prompt-content {
	transform: rotateX(0deg);
	opacity: 1;
}

/* Effect 11: Super scaled */
.prompt-effect-11 .prompt-content {
	transform: scale(2);
	opacity: 0;
	transition: all 0.3s;
}

.prompt-state-visible.prompt-effect-11 .prompt-content {
	transform: scale(1);
	opacity: 1;
}

/* Effect 12:  Just me */
.prompt-effect-12 .prompt-content {
	transform: scale(0.8);
	opacity: 0;
	transition: all 0.3s;
}

.prompt-state-visible.prompt-effect-12 ~ .prompt-overlay {
	background: #e74c3c;
} 

.prompt-effect-12 .prompt-content h3,
.prompt-effect-12 .prompt-content {
	background: transparent;
}

.prompt-state-visible.prompt-effect-12 .prompt-content {
	transform: scale(1);
	opacity: 1;
}

/* Effect 13: 3D slit */
.prompt-effect-13.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-13 .prompt-content {
	transform-style: preserve-3d;
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
}

.prompt-state-visible.prompt-effect-13 .prompt-content {
	animation: slit .7s forwards ease-out;
}

@keyframes slit {
	50% {
		transform: translateZ(-250px) rotateY(89deg);
		opacity: 1; animation-timing-function: ease-in;
	}
	100% {
		transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}

/* Effect 14:  3D Rotate from bottom */
.prompt-effect-14.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-14 .prompt-content {
	transform-style: preserve-3d;
	transform: translateY(100%) rotateX(90deg);
	transform-origin: 0 100%;
	opacity: 0;
	transition: all 0.3s ease-out;
}

.prompt-state-visible.prompt-effect-14 .prompt-content {
	transform: translateY(0%) rotateX(0deg);
	opacity: 1;
}

/* Effect 15:  3D Rotate in from left */
.prompt-effect-15.prompt-modal {
	perspective: 1300px;
}

.prompt-effect-15 .prompt-content {
	transform-style: preserve-3d;
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform-origin: 0 100%;
	opacity: 0;
	transition: all 0.3s;
}

.prompt-state-visible.prompt-effect-15 .prompt-content {
	transform: translateZ(0px) translateX(0%) rotateY(0deg);
	opacity: 1;
}

/* Effect 16:  Blur */
.prompt-state-visible.prompt-effect-16 ~ .prompt-overlay {
	background: rgba(180,46,32,0.5);
}

.prompt-state-visible.prompt-effect-16 ~ .container {
	filter: blur(3px);
}

.prompt-effect-16 .prompt-content {
	transform: translateY(-5%);
	opacity: 0;
}

.prompt-state-visible.prompt-effect-16 ~ .container,
.prompt-effect-16 .prompt-content {
	transition: all 0.3s;
}

.prompt-state-visible.prompt-effect-16 .prompt-content {
	transform: translateY(0);
	opacity: 1;
}

/* Effect 17:  Slide in from bottom with perspective on container */
.prompt-state-visible.prompt-effect-17 ~ .container {
	height: 100%;
	overflow: hidden;
	transition: transform 0.3s;
}	

.prompt-state-visible.prompt-effect-17 ~ .container,
.prompt-state-visible.prompt-effect-17 ~ .prompt-overlay  {
	transform: rotateX(-2deg);
	transform-origin: 50% 0%;
	transform-style: preserve-3d;
}

.prompt-effect-17 .prompt-content {
	opacity: 0;
	transform: translateY(200%);
}

.prompt-state-visible.prompt-effect-17 .prompt-content {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.3s 0.2s;
}

/* Effect 18:  Slide from right with perspective on container */
.prompt-state-visible.prompt-effect-18 ~ .container {
	height: 100%;
	overflow: hidden;
}

.prompt-state-visible.prompt-effect-18 ~ .prompt-overlay {
	background: rgba(143,27,15,0.8);
	transition: all 0.5s;
}

.prompt-state-visible.prompt-effect-18 ~ .container,
.prompt-state-visible.prompt-effect-18 ~ .prompt-overlay {
	transform-style: preserve-3d;
	transform-origin: 0% 50%;
	animation: rotateRightSideFirst 0.5s forwards ease-in;
}

@keyframes rotateRightSideFirst {
	50% {
		transform: translateZ(-50px) rotateY(5deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateZ(-200px);
	}
}

.prompt-effect-18 .prompt-content {
	transform: translateX(200%);
	opacity: 0;
}

.prompt-state-visible.prompt-effect-18 .prompt-content {
	transform: translateX(0);
	opacity: 1;
	transition: all 0.5s 0.1s;
}

/* Effect 19:  Slip in from the top with perspective on container */
.prompt-state-visible.prompt-effect-19 ~ .container {
	height: 100%;
	overflow: hidden;
}

.prompt-state-visible.prompt-effect-19 ~ .prompt-overlay {
	transition: all 0.5s;
}

.prompt-state-visible.prompt-effect-19 ~ .container,
.prompt-state-visible.prompt-effect-19 ~ .prompt-overlay {
	transform-style: preserve-3d;
	transform-origin: 50% 100%;
	animation: OpenTop 0.5s forwards ease-in;
}

@keyframes OpenTop {
	50% { 
		transform: rotateX(10deg); 
		animation-timing-function: ease-out; 
	}
}

.prompt-effect-19 .prompt-content {
	transform: translateY(-200%);
	opacity: 0;
}

.prompt-state-visible.prompt-effect-19 .prompt-content {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.5s 0.1s;
}